<html>
<head>
	<title>Lotim Article</title>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/index.js"></script>
	<meta charset="utf-8">
	<meta name="author" content="Timothy xplicit">
	<meta name="description" content="Veterinary Articles and animals which includes Dog, Cat, Goat, Sheep, Poultry, Pig, Cattle">
	<meta name="keywords" content="Veterinary, start poultry, start pig farming, start cattle farming, Cat Is lovely, Zoonosis Disease">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:landscape)" href="/css/index.css" rel="stylesheet">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:portrait)" href="/css/indexG650PT.css" rel="stylesheet">
	<link type="text/css" media="screen and (max-width: 649px ) and (orientation:portrait)" href="/css/indexL650.css" rel="stylesheet">
	<link type="text/css" media="screen and (max-width: 649px ) and (orientation:landscape)" href="/css/indexL650.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/images/vet Logo.png">
</head>
<noscript>
	<style type="text/css">
		.page-div{
			display:none;
		}
	</style>
	<div style="margin: 15% 0% 0% 35%">
		<div style="width: 30%; background-color: rgb(70%, 70%, 70%); padding: 5px; border-radius: 5%">sorry this site require javascript in your browser to be turn-on, please turn-on javascript to conitnue using this site</div>
	</div>
</noscript>
<body ng-app="myApp" ng-controller="articleController">
	<div class="page-div">
	<div class="page-header"><img id="design-name" src="/images/DesignedName3.png"/></div>
	<diV class="main-content">
		<div class="sub-side-bar" id='minor-column1'>
			<div ng-repeat='a in articles' style="margin: 4px 2px 4px 2px; width: 100%">
				<div ng-click="getArticle(a._id)" class="title-date-comment">
					<div class="article-span-title"><span class="span-title">//a.title//</span></div><div class="title-date"><span style="float: left; font-size: 75%;">//a.sDate//</span>
					<span style="float: right; padding-right:4%;"><i>comment(s) //a.comments.length//</i></span></div>
				</div>
			</div>
		</diV>

			<div class="sub-side-bar" id="major-column">
				<div style="width: 100%">
				<div class="clicked-div2">
					<div style="height:22px">
						<img id="showMinorColumn" class="clicked-image" src="//clickedButton//" ng-click="showMenu(1)">
					</div>
					<div class="sub-side-bar" id='minor-column-article' ng-show="showMinorColumn">
						<div ng-repeat='a in articles' style="margin: 4px 2px 4px 2px; width: 100%">
							<div ng-click="getArticle(a._id)" class="title-date-comment">
								<div class="article-span-title"><span class="span-title">//a.title//</span>
								</div>
								<div class="title-date"><span style="float: left; font-size: 75%;">//a.sDate//</span>
									<span style="float: right; padding-right:4%;"><i>comment(s) //a.comments.length//</i></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clicked-div">
						<div style="height:22px">
							<img class="clicked-image" src="//clickedButton1//" 	ng-click="showMenu(2)">
						</div>
						<div id="list-div" ng-show="showmenu==true">
							<div class="menu-list"><a href="/" target="_self">&nbsp Home &nbsp&nbsp</a></div>
							<div class="menu-list"><a href="/askAVet" target="_self">&nbsp Ask a Vet &nbsp&nbsp</a></div>
							<div class="menu-list"><a href="/article" target="_self">&nbsp Article &nbsp&nbsp</a></div>
							<div class="menu-list" id="last-span" ng-mouseenter="animalshow=true" ng-mouseleave="animalshow=false"><div class="animal-popup">&nbsp Animal Menu &nbsp</div><div class="popup" ng-show="animalshow"><p class="sub-menu"><a href="/dog" target="_self">Dog</a></p><p class="sub-menu"><a href="/cat" target="_self">Cat</a></p><p class="sub-menu"><a href="/pig" target="_self">Pig</a></p><p class="sub-menu"><a href="/cattle" target="_self">Cattle</a></p><p class="sub-menu"><a href="/sheep" target="_self">Sheep</a></p><p class="sub-menu"><a href="/goat" target="_self">Goat</a></p><p class="sub-menu"><a href="/poultry" target="_self">Poultry</a></p></div></div>
						</div>
				</div>
			</div>
		
				<div id="list-div1">
					<div class="menu-list"><a href="/" target="_self">&nbsp Home &nbsp&nbsp</a></div>
					<div class="menu-list"><a href="/askAVet" target="_self">&nbsp Ask a Vet &nbsp&nbsp</a></div>
					<div class="menu-list"><a href="/article" target="_self">&nbsp Article &nbsp&nbsp</a></div>
					<div class="menu-list" id="last-span" ng-mouseenter="animalshow=true" ng-mouseleave="animalshow=false"><div class="animal-popup">&nbsp Animal Menu &nbsp</div><div class="popup" ng-show="animalshow"><p class="sub-menu"><a href="/dog" target="_self">Dog</a></p><p class="sub-menu"><a href="/cat" target="_self">Cat</a></p><p class="sub-menu"><a href="/pig" target="_self">Pig</a></p><p class="sub-menu"><a href="/cattle" target="_self">Cattle</a></p><p class="sub-menu"><a href="/sheep" target="_self">Sheep</a></p><p class="sub-menu"><a href="/goat" target="_self">Goat</a></p><p class="sub-menu"><a href="/poultry" target="_self">Poultry</a></p></div></div>
				</div>
			<div id="article">
				<h3 style="text-align: center; text-transform: uppercase; font-size: 120%; text-shadow: -2px -2px 2px #cccccc">//article.title//</h3>
				<p style="margin-bottom: 10px;"><span class="span-name">written by: <span style="text-transform: uppercase;">//article.author//</span> </span><span class="span-date"> &nbsp&nbsp Date: //article.sDate//</span></p>
				<div class="div-article-text"><span ng-bind-html="article.text" class="span-article-text"></span></div>
				<div style="float:left; clear:left;"><span>Reference(s): //article.reference//</span></div>
				<div style="float:right; clear:left;"><span><a href="#commentBox"><button id="article-comment-button">Add Comment</button></a></span></div>
			</div>
			<div id="comments">
					<div ng-repeat="c in comments" class="each-comment">
							<p style=""><span class="span-name"><i>//c.name//</i></span><span class="span-date"><i>//c.date//</i></span></p>
							<span class="comment-text">//c.text//</span>
					</div>
			</div>
			<div id="commentBox">
				<form>
				<div style="width:100%; margin-bottom: 5px"><label class="comment-label">Name: </label><input type='text' ng-model='cName'></div>
				<div style="width:100%;  margin-bottom: 5px"><label class="comment-label">Comments:</label><div><textarea ng-model="uComments" required></textarea></div></div>
				<div style="width:100%"><input type="submit" value="Post Comment" ng-click="addComments(cName, uComments); dButton=true" ng-disabled="dButton" style="width:auto"/></div>
				</form>
			</div>
		</div>
	</diV>
	<div class="footer">
			<div id="Short-note"><div class="Short-note1" ng-class="bgd+'-note'" ng-animate-swap="bgd"><i><b>//shortNote//</b></i></div>
			</div>
			<div id="Contact-div">
				<h4 style="color: rgb(57%, 30%, 63%);">Contact Us</h4>
				<div style="margin-bottom: 5px;"><img class="link-logo" id="phone-logo" src="/images/phone call.png"><div>+234-815-063-7434, &nbsp&nbsp +234-708-175-2782</div></div>
				<div style="float: left; clear: both;"><a href="mailto:lotimvetservice@gmail.com"><img class="link-logo" id="gmail-logo" src="/images/Gmail.png"><span>lotimvetservice@gmail.com</span></a></div>
				<div id="external-link"><div id="facebook-logo-div"><a href="https://www.facebook.com/lotimvetservices"><img class="link-logo" id="facebook-logo" src="/images/Facebook.png"></a></div><div id="instagram-logo-div"><img id="instagram-logo" class="link-logo" src="/images/instagram.png"></div><div id="twitter-logo-div"><a href="https://www.twitter.com/lotimvetservic1"><img id="twitter-logo" class="link-logo" src="/images/Twitter.png"></a></div></div>
			</div>
		</div>
  </div>
</body>
</html>