<html>
<head>
	<title>Lotim Article</title>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/index.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Timothy xplicit">
	<meta name="description" content="Veterinary Articles and animals which includes Dog, Cat, Goat, Sheep, Poultry, Pig, Cattle">
	<meta name="keywords" content="Veterinary, start poultry, start pig farming, start cattle farming, Cat Is lovely, Zoonosis Disease">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:landscape)" href="/css/index.css" rel="stylesheet">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:portrait)" href="/css/indexG650PT.css" rel="stylesheet">
	<link type="text/css" media="screen and (max-width: 649px )" href="/css/indexL650.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/footerAndHeader.css">
	<link rel="icon" type="image/png" href="/images/vet Logo.png">
</head>
<noscript>
	<style type="text/css">
		.page-div{
			display:none;
		}
	</style>
	<div style="margin: 15% 0% 0% 35%">
		<div style="width: 30%; background-color: rgb(70%, 70%, 70%); padding: 5px; border-radius: 5%">sorry this site require javascript in your browser to be turn-on, please turn-on javascript to conitnue using this site</div>
	</div>
</noscript>
<body ng-app="myApp" ng-controller="articleController">
	<div class="page-div">
	<div ng-include="'/menu.html'" scope="" onload=""></div>
	<diV class="main-content">
		<div class="sub-side-bar" id='minor-column1'>
			<div ng-repeat='a in articles' style="margin: 4px 2px 4px 2px; width: 100%">
				<div ng-click="getArticle(a._id)" class="title-date-comment">
					<div class="article-span-title"><span class="span-title">//a.title//</span></div><div class="title-date"><span style="float: left; font-size: 75%;">//a.sDate//</span>
					<span style="float: right; padding-right:4%;"><i>comment(s) //a.comments.length//</i></span></div>
				</div>
			</div>
		</diV>

			<div class="sub-side-bar" id="major-column">
				<div style="width: 100%">
				<div class="clicked-div2">
					<div style="height:22px">
						<img id="showMinorColumn" class="clicked-image" src="//clickedButton//" ng-click="showMenu(1)">
					</div>
					<div class="sub-side-bar" id='minor-column-article' ng-show="showMinorColumn">
						<div ng-repeat='a in articles' style="margin: 4px 2px 4px 2px; width: 100%">
							<div ng-click="getArticle(a._id)" class="title-date-comment">
								<div class="article-span-title"><span class="span-title">//a.title//</span>
								</div>
								<div class="title-date"><span style="float: left; font-size: 75%;">//a.sDate//</span>
									<span style="float: right; padding-right:4%;"><i>comment(s) //a.comments.length//</i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="article">
				<h3 style="text-align: center; text-transform: uppercase; font-size: 120%; text-shadow: -2px -2px 2px #cccccc">//article.title//</h3>
				<p style="margin-bottom: 10px;"><span class="span-name">written by: <span style="text-transform: uppercase;">//article.author//</span> </span><span class="span-date"> &nbsp&nbsp Date: //article.sDate//</span></p>
				<div class="div-article-text"><span ng-bind-html="article.text" class="span-article-text"></span></div>
				<div style="float:left; clear:left;"><span>Reference(s): //article.reference//</span></div>
				<div style="float:right; clear:left;"><span><a href="#commentBox"><button id="article-comment-button">Add Comment</button></a></span></div>
			</div>
			<div id="comments">
					<div ng-repeat="c in comments" class="each-comment">
							<p style=""><span class="span-name"><i>//c.name//</i></span><span class="span-date"><i>//c.date//</i></span></p>
							<span class="comment-text">//c.text//</span>
					</div>
			</div>
			<div id="commentBox">
				<form>
				<div style="width:100%; margin-bottom: 5px"><label class="comment-label">Name: </label><input type='text' ng-model='cName'></div>
				<div style="width:100%;  margin-bottom: 5px"><label class="comment-label">Comments:</label><div><textarea ng-model="uComments" required></textarea></div></div>
				<div style="width:100%"><input type="submit" value="Post Comment" ng-click="addComments(cName, uComments); dButton=true" ng-disabled="dButton" style="width:auto"/></div>
				</form>
			</div>
		</div>
	</diV>
	<div ng-include="'/footer.html'" scope="" onload=""></div>
  </div>
</body>
</html>