<html>
<head>
	<title>Ask A Vet</title>
</head>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-cookies.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<link rel="icon" type="image/png" href="/images/vet Logo.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Timothy xplicit">
	<meta name="description" content="Ask a Veterinary Doctor, Ask a Vet, Contact a Vet, Contact of Vet, Birds are dieing">
	<meta name="keywords" content="Veterinary, Dog, Cat, Goat, Sheep, Poultry, Pig, Cattle, lotimvetservice, lotim, Vaccination, Zoonosis, Veterinary Doctor, Vet Doctor">
<link rel="stylesheet" type="text/css" href="/css/askAVet.css">
<link rel="stylesheet" type="text/css" href="/css/footerAndHeader.css">	
<noscript>
	<style type="text/css">
		.page-div{
			display:none;
		}
	</style>
	<div style="margin: 15% 0% 0% 35%">
		<div style="width: 30%; background-color: rgb(70%, 70%, 70%); padding: 5px; border-radius: 5%">sorry this site require javascript in your browser to be turn-on, please turn-on javascript to conitnue using this site</div>
	</div>
</noscript>
<body data-ng-app="myApp" ng-controller="questionController">
	<div class="page-div">
		<div data-ng-include="'/menu.html'"></div>
		<div style="clear:right;">
			<div>
				<p class="element-spacing">Note: Response to your question will be sent to your Mail Address</p>
				<p class="element-spacing" ng-class="allowUser+''">Warning: //vMessage//</p>
			</div>
			<div data-ng-controller="questionController">
				<form>
					<div class="input-div"><label class="form-label">Name: </label><input class="input" type="text" title="Your Name" placeholder="please enter your name" data-ng-model='name' ng-disabled="!allowUser"/></div>
					<div class="input-div"><label class="form-label">Email: </label><input class="input" type="email" title="Your Email Address" placeholder="please enter your email" data-ng-model='emailAdress' ng-disabled="!allowUser" required/></div>
					<div><p class="form-label">Question:</p>
					<textarea data-ng-model='question' ng-disabled="!allowUser" required></textarea></div>
					<div><input class="element-spacing button" type="submit" value="Ask" ng-disabled="!allowUser" ng-click="sendQuestion(name,emailAdress,question)"></div> 
				</form>
			</div>
		</div>
		<div data-ng-include="'/footer.html'"></div>
	</div>
</body>
</html>