<html>
<head>
	<title>Lotim Veterinary</title>
	<link rel="icon" type="image/png" href="/images/vet Logo.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Timothy xplicit">
	<meta name="google-site-verification" content="RAB84kuzVeshl4YTkJ1-_XA9SeLCMtBftXOEtCUttJU">
	<meta name="description" content="Veterinary Articles and animals which includes Dog, Cat, Goat, Sheep, Poultry, Pig, Cattle">
	<meta name="keywords" content="Veterinary, Dog, Cat, Goat, Sheep, Poultry, Pig, Cattle, lotimvetservice, lotim, Vaccination, Zoonosis, Veterinary Doctor, Vet Doctor">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:landscape)" href="/css/index.css" rel="stylesheet">
	<link type="text/css" media="screen and (min-width: 650px) and (orientation:portrait)" href="/css/indexG650PT.css" rel="stylesheet">
	<link type="text/css" media="screen and (max-width: 649px )" href="/css/indexL650.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/footerAndHeader.css">	
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="/index.js"></script>
</head>
<noscript>
	<style type="text/css">
		.page-div{
			display:none;
		}
	</style>
	<div style="margin: 15% 0% 0% 35%">
		<div style="width: 30%; background-color: rgb(70%, 70%, 70%); padding: 5px; border-radius: 5%">sorry this site require javascript in your browser to be turn-on, please turn-on javascript to conitnue using this site</div>
	</div>
</noscript>
<body ng-app="myApp" ng-controller="lotimController">
	<div class="page-div">
		<div data-ng-include="'menu.html'"></div>
		<div class="main-content">
			<div class="sub-side-bar" id="minor-column1">
				<p style="color: rgb(72%, 63%, 34%); font-size: 100%;" id="short-text">Lotim Vet Services is a Veterinary hub in Nigeria, it provides vet related information and render every animal health services.<br/><br/>We are at where u are within the country.</p>
			</div>
			<div class="sub-side-bar" id="major-column">
				<div style="width: 100%">
				<div style="width:100%;float:left;clear:right;"><input type="text" id="main-search" ng-model="searchItem.item"/>
					<div ng-if="searchItem.item.length>0" id="search-item-div">
						<ul id="search-item-ul">
							<li ng-repeat="item in searchContent | filter:searchItem| limitTo:6" ng-click="findItem(item.No)" id="search-item-li">//item.item//</li>
						</ul>
					</div>
				</div>
				</div>
				<div class="sub-main-content">
					<div class="floating-bg" style="background-image: url(//pic_url//);"  ng-animate-swap="pic_url">
						<p class = "moving-text" ng-class="bgd" ng-bind-html="captions"></p><p class="read-article-1" ng-class="bgd+'-article'" ng-click="relocateArticle()">Read Article</p>
					</div>
					<div class="article-container">
						<h2 id="article-heading"> Sub Articles</h2>
						<div class="article-class" id="first-article-class">
						<h3>Owning Poultry</h3>
						<a href="/article/?q=5c7d5b3810d90b001728f41f">
							<div class="article-link-image"><img class="intro" src="/images/Cornish cross2.png" alt="poultry hen"/></div>
							<div class="article-link-note">Poultry is quite a lucrative business, but not without it's hurdles, a proper planning have to be carried out before going into poultry business, which include Financial plan, Feasibility study and Maintenance programs<span style="color: rgb(30%,30%,35%);">read more...</span>
							</div>
						</a>
						</div>
						<div class="article-class">
						<h3>Pig Rearing</h3>
						<a href="/article/?q=5c7d5f6f10d90b001728f420">
							<div class="article-link-image"><img class="intro" src="/images/Hampshire.png" alt="pig"/></div>
							<div class="article-link-note">Pig farming is becoming popular on a daily basis in Nigeria as the economy is revolving to promote the growth of agriculture in the country. It is a very lucrative business, that is fast gaining attention in Nigeria, this <span style="color: rgb(30%,30%,39%); text-decoration: underline;">article</span> give a brief description of what it takes to own a profiting pig farm
							</div>
						</a>
						</div>
						<div class="article-class" id="last-article-class">
						<h3>Starting a Livestock Business</h3>
						<a href="/article/?q=5c7cfba97422c30017845ca5">
							<div class="article-link-image"><img class="intro" src="/images/Adamawa Gudali2.png" alt="livestock, image of a cow"/></div>
							<div class="article-link-note">This article gives you some simple, yet powerful tips, that would help you to start a livestock business. It could be rearing of goats, sheeps, cattle, rabbits or combination of any of them. It is profitable and the market for it is always present as there is few or no place in Nigeria where their meat is not being consume <span style="color: rgb(30%,30%,35%);">read more..</span>
							</div>
						</a>
						</div>
					</div>
					<div class="image-display">
						<marquee width="100%" direction="left" scroll="scroll" behavior="alternate" scrollamount="5" scrolldelay="3">
						<a href="/dog/#bullmastiff-dog"><img src="/images/Bullmastiff1.png"/></a>
						<a href="/cat/#burmese"><img src="/images/Burmese2.png"/></a>
						<a href="/dog/#caucasian-dog"><img src="/images/Caucasian2.png"/></a>
						<a href="/pig/#landrace"><img src="/images/Landrace1.png"/></a>
						<a href="/dog/#lhasa-apso"><img src="/images/Lhasa apso2.png"/></a>
						<a href="/poultry/#rhode-island-red"><img src="/images/Rhode island red1.png"/></a>
						<a href="/dog/#saint-benard"><img src="/images/Saint Bernard2.png"/></a>
						<a href="/goat/#west-african-dwarf"><img src="/images/West African dwarf goat2.png"/></a>
						</marquee>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-include="'/footer.html'"></div>
	</div>
	<a href="/askAVet" target="_self"><img src="images/comment-tag.png" id="comment-tag"></a>
</body>
</html>
