h4{
	color: #7c7cff;
	font-family: sans-serif;
	font-weight: bold;
}
p{
	color: #555555;
}
.side-bar{
	display:inline-block;
	float:left;

}

#list-of-breed{
	width: 50%;
	margin-left: 2%;
}
#image-bar{
	position: sticky;
	z-index:-1;
	position: -webkit-sticky;
	position: -moz-sticky;
	float:right;
	top:5px;
	left:55%;
	width: 45%;
	height: 50%;
	margin-left: 2%;
}

.animal-picture{
	float:center;
	width:70%;
	height:10%;
	border: 1px solid #cccccc;
	-webkit-box-shadow: -1px -1px 3px 1px #7c7cff;
	-moz-box-shadow:-1px -1px 3px 1px #7c7cff;
	-o-box-shadow:-1px -1px 3px 1px #7c7cff;
	box-shadow: -1px -1px 3px 1px #7c7cff;
}
h3{
	text-align: center;
	color: #5a5add;
}
@keyframes fade_in{
	from {
		transform: scale(40%);
		opacity: 0;
	}
	to{
		transform: scale(100%);
		opacity: 1;
	}
}
@keyframes fade_out{
	from {
		transform:scale(100%);
		opacity: 1;
	}
	to {
		transform:scale(40%);
		opacity: 0;
	}
}
.animal-picture.ng-enter{
	transition: 1.5s ease-in all;
	transform:scaleX(0);
	opacity: 0;
}
.animal-picture.ng-enter-active{
	opacity: 1;
	transform:scaleX(1);
}
.lists{
	cursor:pointer;
	padding-left:3px;
	padding-top:1px;
}
.lists:hover{
	background-color:rgb(95%, 99%, 99%);
	box-shadow: -1px -1px 3px #bbdddd;
	-webkit-box-shadow: -1px -1px 3px #bbdddd;
	-moz-box-shadow: -1px -1px 3px #bbdddd;
	-o-box-shadow: -1px -1px 3px #bbdddd;
}
div#list-div{
	float: right;
	font-size: 100%;
	width: 400px;
	margin-bottom: 1%;
	margin-right: 1%;
	margin-top: 2%;
}
span:hover{
	color: #003fff;
	text-shadow: -4 -4 5 #3467cc;
	cursor: pointer;
}
span{
	border-right: 2px solid #c6c6f6;
	text-align: center;
	margin: 1%; 
}
span#last-span{
	border-right: none;
}

/*.............................................................................................*/
