h4{
	color: #7c7cff;
	font-family: sans-serif;
	font-weight: bold;
}
p{
	color: #555555;
}
.side-bar{
	display:inline-block;
	float:left;

}
.page-header{
	width: 100%;
	height: 15%;
	background-color: #000020;
	padding-left: 5%;
	padding-bottom: 1%;
}
#list-of-breed{
	width: 50%;
	margin-left: 2%;
}
#image-bar{
	position: sticky;
	z-index:-1;
	position: -webkit-sticky;
	position: -moz-sticky;
	float:right;
	top:5px;
	left:55%;
	width: 45%;
	height: 50%;
	margin-left: 2%;
}
#design-name{
	width: 20%;
	height: 110%;
}
.animal-picture{
	float:center;
	width:70%;
	height:10%;
	border: 1px solid #cccccc;
	-webkit-box-shadow: -1px -1px 3px 1px #7c7cff;
	-moz-box-shadow:-1px -1px 3px 1px #7c7cff;
	-o-box-shadow:-1px -1px 3px 1px #7c7cff;
	box-shadow: -1px -1px 3px 1px #7c7cff;
}
h3{
	text-align: center;
	color: #5a5add;
}
@keyframes fade_in{
	from {
		transform: scale(40%);
		opacity: 0;
	}
	to{
		transform: scale(100%);
		opacity: 1;
	}
}
@keyframes fade_out{
	from {
		transform:scale(100%);
		opacity: 1;
	}
	to {
		transform:scale(40%);
		opacity: 0;
	}
}
.animal-picture.ng-enter{
	transition: 1.5s ease-in all;
	transform:scaleX(0);
	opacity: 0;
}
.animal-picture.ng-enter-active{
	opacity: 1;
	transform:scaleX(1);
}
.lists{
	cursor:pointer;
	padding-left:3px;
	padding-top:1px;
}
.lists:hover{
	background-color:rgb(95%, 99%, 99%);
	box-shadow: -1px -1px 3px #bbdddd;
	-webkit-box-shadow: -1px -1px 3px #bbdddd;
	-moz-box-shadow: -1px -1px 3px #bbdddd;
	-o-box-shadow: -1px -1px 3px #bbdddd;
}
div#list-div{
	float: right;
	font-size: 100%;
	width: 400px;
	margin-bottom: 1%;
	margin-right: 1%;
	margin-top: 2%;
}
span:hover{
	color: #003fff;
	text-shadow: -4 -4 5 #3467cc;
	cursor: pointer;
}
span{
	border-right: 2px solid #c6c6f6;
	text-align: center;
	margin: 1%; 
}
span#last-span{
	border-right: none;
}
.dbt{
	color: rgb(40%, 44%, 62%);
	width: 150px;
	text-align:left;
	float: left;
	clear: both;
	font-size:100%;
	border:none;
}
.dbt+span{
	float: left;
	color:rgb(50%, 50%, 50%);
	width:65%;
	text-align:left;
	border:none;
	clear: right;
}
.footer{
	background-image: url(../images/backgroundFooter.png);
	margin-top: 10%;
	float:left;
	clear: right;
	padding-top:15px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:100%;
	height: 250px;
}
#phone-logo, #gmail-logo{
	height:20px;
	width:25px;
	margin-right:15px;
	margin-bottom:10px;
	float:left;
	clear:both;
}
#facebook-logo{
	margin-top:8px;
}
#instagram-logo{
	margin-top:4px;
}
#twitter-logo{
}
#facebook-logo-div{
	float:left;
	width:35px;
	clear:right;
	margin-right:25px;
	cursor:pointer;
}
#instagram-logo-div{
	float:left;
	width:35px;
	clear:right;
	margin-right:25px;
	cursor:pointer;
}
#twitter-logo-div{
	float:left;
	width:35px;
	clear:right;
	cursor:pointer;
}
#gmail-logo+span{
	color:rgb(35%, 5%, 50%);
	font-family:serif;
	font-size:85%;
	border:none;
	text-align:left;
	float: left;
	clear: right;
	letter-spacing:0.7px;
}
#phone-logo+div{
	color:rgb(40%, 10%, 45%);
	font-size:85%;
	margin-bottom:13px;
	float:left;
	clear:right;	
}
#Short-note{
	width:45%;
	height:200px;
	margin-left:2%;
	float:left;
	clear:right;
}
.Short-note1{
	width:200px; 
	letter-spacing:1px; 
	padding: 1%; 
	margin:auto; 
	background-color: rgba(50%, 50%, 50%, 0.8);
	color:rgb(27%, 75%, 53%); 
	border-radius:10%; 
	float:center; 
	margin-top: 70px; 
	clear: both;
}
@keyframes fade-in-zooms-in{
	from{opacity:0.3; transform: translate(60px, -10px) scale(0);}
	to{opacity:1;transform:translate(0px, 0px) scale(1);}
}
.Short-note1.ng-enter{
	animation:3s fade-in-zooms-in;
}
#Contact-div{
	margin-top:46px;
	width:45%;
	float:left;
}
#external-link{
	width:90%;
	height:40px;
	margin-left:15px;
	margin-top:10px;
	float:right;
	clear:both;
}
.link-logo{
	width:30px;
	margin-right:30px;
	height:30px;
}

/*.............................................................................................*/
.clicked-div{
	display:none;
}
a{
	text-decoration:none;
	color:inherit;
}
h5{
	color:rgb(50%, 69%, 78%);
}
li{
	margin-bottom:2%;
	color:rgb(40%, 40%, 40%);
}
div#list-div{
	display:none;
}
div#list-div1{
	float: right;
	font-size: 100%;
	clear:both;
	width: 400px;
	margin-bottom: 1%;
	margin-right: 1%;
	margin-top: 2%
}
.menu-list{
	display:inline;
	float: left;
	clear:right;
	color:rgb(50%, 50%, 65%);
	border-right: 2px solid #c6c6f6;
	text-align: center;
	margin: 1%;
}
.menu-list:hover{
	color: #003fff;
	text-shadow: -0.5px -0.5px 0.5px  rgb(40%, 40%, 55%);
	-webkit-text-shadow: -0.5px -0.5px 0.5px rgb(40%, 40%, 55%);
	-moz-text-shadow: -0.5px -0.5px 0.5px #3467cc;
	-o-text-shadow: -0.5px -0.5px 0.5px #3467cc;
	cursor: pointer;
}
div#last-span{
	border-right: none;
	margin-bottom:0px;
}
.animal-popup{
	display:inline;
}
.popup{
	position:absolute;
	width:105px;
	padding-left:2px;
	text-align:left;
	background-color:rgba(80%, 80%, 87%, 0.7);
	border-radius: 5%;
	-webkit-border-radius:5%;
	-moz-border-radius:5%;
	-o-border-radius:5%;
}
.sub-menu{
	color:#222222;
}