a{
	text-decoration:none;
	color:inherit;
	font-size:inherit;
}
.page-div{
	height: auto;

}
.main-content{
	margin-top:5px;
	height: auto;
	width: 100%;
	float: right;
	clear: left;
}
.sub-side-bar{
	margin-right: 1%;
	height: auto;
	display: inline;
	float: right;
}
.floating-bg{
	width:80%;
	background-size: 100% 100%; 
	max-height: auto;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto; 
	height: 65%;  
	clear: left;
	box-shadow: 3px 3px 3px #aaaaba;
	-webkit-box-shadow: 3px 6px 6px #aaaaba; 
	-moz-box-shadow: 3px 3px 3px #aaaaba;
	-o-box-shadow: 3px 3px 3px #aaaaba;
	border-radius:5%;
	min-height:auto; 
	background-repeat: no-repeat; 
	border: 2px solid rgb(40%, 40%, 45%); 
	font-size: 12px;
}

input#main-search{
	background-image: url(../images/search-icon5.png);
	float: left;
	clear: right;
	background-repeat: no-repeat;
	background-size: 5% 70%;
	background-position: 2% 15%;
	border:none;
	border-bottom: 1px solid rgb(90%, 90%, 90%);
	padding-left: 8%;
	padding-right: 0.5%;
	font-size: 100%;
	width: 80%;
	max-width:400px;
	min-width:200px;
	height: 35px;
	margin: 20px 0% 20px 8%;
	-webkit-box-shadow: 0px 2px 2px #aaaaaa;
	box-shadow: 0px 2px 2px #aaaaaa;
	border-radius: 2%;
}
#search-item-div{
	position: absolute;
	background-color:rgb(100%, 100%, 100%);
	margin-top:58px;
	margin-left:7%;
	height:auto;
	float:left;
	clear:right;
	width: 80%;
	border-radius:0px 0px 10px 10px;
	max-width:400px;
	min-width:200px;
	min-width:200px;
	z-index:5;
}

#search-item-ul{
	list-style-type:none;
	color:rgb(30%, 35%, 57%);
}
#search-item-li{
	cursor:pointer;
}
@keyframes fade-in{from{opacity:0.5;}to{opacity:1;}}
@keyframes fade-out{from{opacity:1; transform: translateX(0px);}to{opacity:0; transform: translateX(2px);}}
@keyframes moves-in{from{transform: translateX(-30%);}to{transform: translateX(0%);}}
@keyframes moves-down{from{transform: translateY(-150px);}to{transform: translateY(0px);}}
input#main-search:hover{
	background-color: rgb(95%, 99%, 99%);
}
.floating-bg.ng-enter{
	animation: 3s fade-in;
}
.read-article-1{
	font-family:serif;
	background-color:#7c7cff;
	color:#dddddd;
	text-align:center;
	margin-top:2px;
	font-size:120%;
	cursor:pointer;
	width: 100px;
	height: 20px;
	float: right;
	margin-right:10px;
	border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius:10%;
	-o-border-radius:10%;
}
.moving-text{
	font-size: 200%;
	float: center;
	height: 50%;
	width: 60%;
	padding: 2% 25% 2% 25%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: rgb(80%, 80%, 85%);
	font-family: serif;
	font-weight: bold;
}
.background1-article, .background2-article, .background3-article{
	animation: 3s moves-down;
}
.background1{
	animation: 3s moves-in;
	font-size:250%;
	mix-blend-mode:difference;
}
.background2{
	color:rgb(0%, 100%, 0%);
	mix-blend-mode:normal;
	animation: 3s moves-in;
}
.background3{
	mix-blend-mode:exclusion;
	font-size:200%;
	animation: 3s moves-in;
}
button{ 
	-webkit-border-radius: 20%;
	-moz-border-radius:20%;
	border-radius: 20%;
	text-rendering: optimizeLegibility;
	max-width: 70px;
	min-width: 20px;
	width: 40px;
	min-height: 30px;
	max-height: 35px;
	background-color: #7c7cff;
}
#major-column{
	width: 100%;
	height: auto;
	float: right;
}
#minor-column1{
	display:none;
}
#minor-column{
	margin-top:5%;
	padding:2%;
	margin-bottom:3%;
	margin-left:15%;
	width: 70%;
	min-height:60px;
	float:left;
	clear:both;
	background-color:#f9f9f9;
	border-radius:10%;
	box-shadow:2px 2px 2px #888888;
}
#minor-column-article{
	position:absolute;
	margin-top:1%;
	z-index:10;
	padding:2%;
	margin-bottom:3%;
	left:1%;
	width: 50%;
	min-height:70%;
	float:left;
	clear:both;
	background-color:#f9f9f9;
	box-shadow:2px 2px 2px #888888;
}
img#comment-tag{
	position: fixed;
	top: 85%;
	border-radius:30%;
	cursor: pointer;
	left: 80%;
	box-shadow:2px 4px 2px #888888;
	width: 35px;
	height: 30px;
}
img.intro{
	width: 100%;
	height: 100%;
	border-radius:25px 25px 0px 0px;
	margin-right: 1%;
}
h3{
	color: #7c7cff;
	font-family: sans-serif;
	font-weight: bold;
}
p{
	font-size: 80%;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: grey;
}
div.image-display{
	width:90%;
	text-align:center;
	margin-left:5%;
	margin-right:auto;
	float:inline;
	clear:left;
	margin-top:100px; margin-bottom:50px;
}
div.image-display img{
	border-radius:50%;
	width:80px;
	display:inline-block;
	height:80px;
	margin-bottom:20px;
	margin-right:20px;
}
.article-container{
	text-align:center; 
	float:left; 
	clear:right; 
	width:100%;
	background-color:rgb(85%,98%,85%);
	border-radius:150px 30px 20px 20px;
	margin-left:30px;
}
div.article-class{
	display: inline-block;
	line-height:1.5;
	text-align:center;
	background-color:#fffcf0;
	padding: 2px auto 2px auto;
	margin-bottom:100px;
	width: 70%;
	max-width: 220px;
	margin-right:20px;
	border: 1.3px solid #cccccc;
	border-radius: 30px 30px 20px 20px;
	clear: left;
}
#article-heading{
	text-align:center;
	color:blue;
}
.article-class h3{
	font-size:100%;
	margin-top: 1% !important;
	margin-bottom:1% !important;
	width:90%;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

div.article-link-image, .article-link-note{
	width:90%;
	display:inline-block;
	margin:auto;
	box-shadow: 2px 2px 2px 2px rgb(50%, 50%, 50%);
	-webkit-box-shadow: 2px 2px 2px 2px rgb(50%, 50%, 50%);
	-o-box-shadow: 2px 2px 2px 2px rgb(50%, 50%, 50%);
	-moz-box-shadow: 2px 2px 2px 2px rgb(50%, 50%, 50%);

}
div.article-link-image{
	height:120px;
	margin-top:1px;
	border-radius:25px 25px 0px 0px;
}
div.article-link-note{
	float:left;
	clear:right;
	color:rgb(50%,50%,60%);
	margin-top:10px;
	margin-bottom:10px;
	margin-left:4%;
	background-color:rgb(255%, 255%, 255%);
	border-radius: 0px 0px 7px 7px;
}
@media only screen and (max-width: 649px) and (orientation:landscape){
	.floating-bg{
		width:60%;
		min-width:225px;
		max-width:400px;
		min-height:250px;
	}
	input#main-search, #search-item-div{
		margin-left:15%;
		margin-right:auto;
	}
}
#short-text{
	display:none;
}
div.article-class:hover{
	background-color: rgb(95%, 99%, 99%);
}

/*******************css for article page***************************/
.div-article-text{
	float:left;
	font-size:90%;
	font-style:serif;
	color:rgb(25%, 18%, 18%);
	background-color: rgb(95%, 95%, 95%); 
	clear:both; 
	text-align: justify; 
	margin-top:10px; 
	margin-bottom: 5px
}
.span-article-text{
	float:center;
	color:rgb(30%, 20%, 20%); 
	padding:3px; 
	text-align: left;
}
.span-article-text>img{
	width:30%;
	min-width:150px;
	min-height:150px;
	height:30%;
}
#article{
	clear:right;
	display:block;
	padding:5px;
	width:100%;
}
#comments{
	margin-top:2%;
	background-color:rgb(98%,98%,98%);
	padding:5px;
	float:left;
	clear:left;
	width:100%;
}
#commentBox{
	float:left;
	clear:left;
	margin-top:4%;
	width:100%;
	background-color: rgb(90%, 96%, 98%);
	box-shadow: -1.5px -1.5px 1.5px 1.5px rgb(85%, 85%, 85%);
	padding-top:5%;
	padding-left:3%;
}
.each-comment{
	clear:right;
	width:100%;
	border-bottom: 0.1px solid #eaeaea;
}
#article-comment-button{
	border-radius: 20%;
	width: 120px !important;
	min-width:120px;
	max-width:120px;
}
.title-date{
	float: left; 
	clear:both; 
	width: 100%; 
	padding:2px;   
	border-bottom: 1px solid rgb(80%, 80%, 87%);
}
.title-date-comment{
	width: 100%; 
	cursor: pointer;
}
.span-name{
	float:left;
	color: rgb(75%, 75%, 100%);
}
.span-title{
	float:left;
	font-size:120%;
	padding-top: 3%;
	padding-bottom:2%;
	text-transform: capitalize;
	font-family: "Times New Roman", Times, serif;
	color: rgb(70%, 70%, 96%);
	clear: both;
}
.article-span-title{
	float: left; 
	clear: both; 
	width: 100%;
	padding:2px; 
	box-shadow: 1px 1px 1px rgb(50%, 50%, 50%);
}
.article-span-title:hover{
	background-color:#f0f0f0;
}
.span-date{
	float:right;
	font-size:75%;
}
.comment-text{
	clear:left;
	border-bottom: 0.1px solid #eaeaea;
	padding:2px;
	text-align:right;
	float:right;
	width:75%;
	color:rgb(95%, 67%, 50%);
}
label{
	color:#4c4cff;
	width:80px;
	float: left;
	clear: right;
	font-family:serif;
}
textarea{
	font-family:serif;
	font-size: 100%;
	padding-left: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 300px;
	height: 250px;
	border: 1px solid;
	box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-webkit-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-moz-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-o-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
}
input{
	font-family:serif;
	font-size: 100%;
	width:300px;
	padding-left: 10px;
	height: 29px;
	border: 1px solid;
	box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-webkit-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-moz-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
	-o-box-shadow: -1px -1px 2px rgb(80%, 80%, 87%);
}
.comment-label{
	color:rgb(45%, 40%, 20%);
}

/*******************Admin********Header********************/
.admin-header{
	color:rgb(20%, 25%, 45%);
	text-align: center;
}
input[type=submit]{
	width:15%;
	background: rgb(80%, 80%, 87%);
	box-shadow: -1px -1px 2px rgb(40%, 40%, 49%);
	-webkit-box-shadow: -1px -1px 2px rgb(40%, 40%, 49%);
	-moz-box-shadow: -1px -1px 2px rgb(40%, 40%, 49%);
	-o-box-shadow: -1px -1px 2px rgb(40%, 40%, 49%);
}
/*******************Admin********Message********************/
.clicked-div2{
	width:40%;
	float:left;
	clear:left;
}
#showMinorColumn{
	float: left;
}
div.messages{
	background-color: rgb(90%,90%,90%);
	margin-bottom:5px;
	border-bottom: 1px solid rgb(70%,70%,70%);
	box-shadow: -1px 2px 2px rgb(40%, 40%, 49%);
	width:100%;
	min-height:50px;
	max-height:70%;
}
.no-view{
	background-color: rgb(77%,87%,77%);
	width:100%;
	min-height:50px;
	max-height:70%;
}
#message-name-email{
	padding-top:5px;
	padding-left: 1%;
	width:30%;
	float:left;
	clear:right;
	cursor:pointer;
}
#message-question-comment{
	width:65%;
	float:left;
	clear:right;
	padding-left: 2%;
	padding-top:5px;
	height:inherit;
	border-left:1px solid rgb(70%,70%,70%);
	cursor:pointer;
}
.message-question-reply{
	float: left; 
	clear: both; 
	width: 100%; 
	min-height: 30px; 
	padding:1%; 
	margin-bottom: 5px;
	box-shadow: -2px 2px 1px rgb(50%, 50%, 55%);
}